body {
    background-color: #e5e6e8;
 }
 .semicircle-border {
    position: absolute;
    top: 45%;
    left: 39%;
    transform: rotate(13deg);
    width: 140px;
    height: 250px;
    border-top-left-radius: 65px;
    border-top-right-radius: 65px;
    border: 0.2pc solid rgb(7, 37, 79);
 
    text-decoration: underline;
 
  }
  
  .horizontal-line {
    position: absolute;
    top: 30%;
    left: 42.6%;
    transform: rotate(14deg);
    width: 121px;
    height: 123px;
       border-bottom: 0.2pc solid rgb(7, 37, 79);   
     }
 
    
  
  .triangle {
    position: absolute;
    top: 45%;
    left: 42%;
    width: -6;
    height: -6;
    transform: rotate(194deg);
    border-top: 20px solid rgb(115, 157, 183);
    border-right: 20px solid transparent;
 
  }
  .square {
    position: absolute;
    top: 45.7%;
    left: 44.6%;
    width: 22px; 
    height: 26.4px; 
    transform: rotate(194deg);
    background-color: rgb(115, 157, 183);
  } 
  .square1 {
    position: absolute;
    top: 48%;
    left: 47.4%;
    width: 22px; 
    height: 22px; 
    transform: rotate(199deg);
    background-color: rgb(115, 157, 183);
    } 
 
    .horizontal-line1 {
    position: absolute;
    top: 36%;
    left: 41.3%;
    transform: rotate(14deg);
    width: 144px;
    height: 123px;
       border-bottom: 0.2pc solid rgb(7, 37, 79);   
     }
 
     .square2 {
       position: absolute;
       top:50.5%;
       left: 42%;
       transform: rotate(14deg);
       background-color: rgb(115, 157, 183);
       border: 2px solid rgb(7, 37, 79);
       width: 23px;
       height: 24px;
     }
 
     .circle {
       position: absolute;
       top: 51.5%;
       left: 42.3%;
       width: 18px;
       height: 18px;
       border-radius: 50%;
       background-color: black;
     }
     
     .horizontal-line2 {
       position: absolute;
       top: 40.3%;
       left: 40.7%;
       transform: rotate(14deg);
       width: 143px;
       height: 123px;
          border-bottom: 0.2pc solid rgb(7, 37, 79);   
        }
 
       .square3{
          position: absolute;
          top: 54.6%;
          left: 40.08%;
          width: 27px; 
          height: 23px; 
          transform: rotate(193deg);
          background-color: rgb(115, 157, 183);
        }
       
     .square4 {
       position: absolute;
       top:55.7%;
       left: 42.4%;
       transform: rotate(194deg);
       background-color: rgb(115, 157, 183);
       width: 16px;
       height: 23px;
     }
 
     .circle1 {
       position: absolute;
       top: 10%;
       left: 10%;
       width: 10px;
       height: 10px;
       border-radius: 50%;
       background-color: black;
     }
 
     .square5 {
       position: absolute;
       top: 56.7%;
       left: 44.1%;
       transform: rotate(194deg);
       background-color: rgb(115, 157, 183);
       width: 20px;
       height: 23px;
     }
 
 
  .square6 {
    position: absolute;
       top: 57.9%;
       left: 46%;
       transform: rotate(194deg);
       background-color: rgb(115, 157, 183);
       width: 25px;
       height: 23px;
  }
 
  .square7 {
    position: absolute;
    top: 59.3%;
    left: 48.6%;
    transform: rotate(194deg);
    background-color: rgb(115, 157, 183);
    width: 22px;
    height: 23px;
  }
 
  .rectangle {
    position: absolute;
    top: 67%;
    left: 35.7%;
    transform: rotate(103deg);
    border: 2px solid rgb(7, 37, 79);
    width: 100px;
    height: 20px;
 
     }
 .rectangle1 {
    position: absolute;
    top: 65.4%;
    left: 40%;
    transform: rotate(103deg);
    border: 2px solid rgb(7, 37, 79);
    width: 100px;
    height: 70px;
 }
 .rectangle2{
    position: absolute;
    top: 72%;
    left: 44%;
    transform: rotate(103deg);
    border: 2px solid rgb(7, 37, 79);
    width: 100px;
    height: 16px;
 }
 
 .horizontal-line13 {
    position: absolute;
    top: 70%;
    left: 39%;
    transform: rotate(14deg);
    width: 90px;
    height: 123px;
       border-bottom: 0.2pc solid rgb(7, 37, 79);  
 }
 
 .horizontal-line3 {
    position: absolute;
    top: 70%;
    left: 39%;
    transform: rotate(14deg);
    width: 90px;
    height: 123px;
       border-bottom: 0.2pc solid rgb(7, 37, 79); 
 }
 
 .horizontal-line4 {
    position: absolute;
    top: 76%;
    left: 41.7%;
    transform: rotate(89deg);
    width: 25px;
    height: 123px;
       border-bottom: 0.2pc solid rgb(7, 37, 79); 
 }
 
 .horizontal-line5 {
    position: absolute;
    top: 88.7%;
    left: 46.8%;
    transform: rotate(145deg);
    width: 36px;
    height: 123px;
       border-bottom: 0.2pc solid rgb(7, 37, 79); 
 }
 
 .horizontal-line6 {
    position: absolute;
    top: 82.5%;
    left: 41.4%;
    transform: rotate(90deg);
    width: 22px;
    height: 100px;
       border-bottom: 0.2pc solid rgb(7, 37, 79); 
 }
 
 .horizontal-line7 {
    position: absolute;
    top: 84.4%;
    left: 42.9%;
    transform: rotate(98deg);
    width: 19px;
    height: 100px;
       border-bottom: 0.2pc solid rgb(7, 37, 79); 
 }
 
 .horizontal-line8 {
    position: absolute;
    top: 76%;
    left: 37.6%;
    transform: rotate(4deg);
    width: 47px;
    height: 100px;
       border-bottom: 0.2pc solid rgb(7, 37, 79); 
 }
 
 .horizontal-line9 {
    position: absolute;
    top: 87.3%;
    left: 40.8%;
    transform: rotate(110deg);
    width: 18px;
    height: 123px;
       border-bottom: 0.2pc solid rgb(7, 37, 79); 
 }
 
 .horizontal-line10 {
    position: absolute;
    top: 81.9%;
    left: 44.8%;
    transform: rotate(78deg);
    width: 13px;
    height: 123px;
       border-bottom: 0.2pc solid rgb(7, 37, 79); 
 }
 
 .horizontal-line11 {
    position: absolute;
    top: 75%;
    left: 35%;
    transform: rotate(0deg);
    width: 89px;
    height: 123px;
       border-bottom: 0.2pc solid rgb(7, 37, 79); 
 }
 
 .horizontal-line12 {
    position: absolute;
    top: 75%;
    left: 31%;
    transform: rotate(0deg);
    width: 20px;
    height: 123px;
       border-bottom: 0.2pc solid rgb(7, 37, 79); 
 }
 
 .horizontal-line13 {
    position: absolute;
    top: 75%;
    left: 33.4%;
    transform: rotate(0deg);
    width: 10px;
    height: 123px;
       border-bottom: 0.2pc solid rgb(7, 37, 79); 
 }
 
 .horizontal-line14 {
    position: absolute;
    top: 78%;
    left: 42%;
    transform: rotate(0deg);
    width: 85px;
    height: 123px;
       border-bottom: 0.2pc solid rgb(7, 37, 79); 
 }
 
 .horizontal-line15 {
    position: absolute;
    top: 88.1%;
    left: 47.4%;
    transform: rotate(99deg);
    width: 20px;
    height: 123px;
       border-bottom: 0.2pc solid rgb(7, 37, 79); 
 }
 
 .horizontal-line16 {
    position: absolute;
    top: 74.5%;
    left: 43.6%;
    transform: rotate(0deg);
    width: 41px;
    height: 123px;
       border-bottom: 0.2pc solid rgb(7, 37, 79); 
 }
 
 .horizontal-line17 {
    position: absolute;
    top: 83.9%;
    left: 50.3%;
    transform: rotate(76deg);
    width: 21px;
    height: 123px;
       border-bottom: 0.2pc solid rgb(7, 37, 79); 
 }
 
 .horizontal-line18 {
    position: absolute;
    top: 78%;
    left: 51.1%;
    transform: rotate(0deg);
    width: 20px;
    height: 123px;
       border-bottom: 0.2pc solid rgb(7, 37, 79); 
 }
 
 .horizontal-line19 {
    position: absolute;
    top: 78%;
    left: 49.4%;
    transform: rotate(0deg);
    width: 10px;
    height: 123px;
       border-bottom: 0.2pc solid rgb(7, 37, 79); 
 }
 
 .horizontal-line20 {
    position: absolute;
    top: 73.5%;
    left: 43.8%;
    transform: rotate(91deg);
    width: 138px;
    height: 123px;
       border-bottom: 0.2pc solid rgb(7, 37, 79); 
 }
 
 .horizontal-line21 {
    position: absolute;
    top: 73.5%;
    left: 45.4%;
    transform: rotate(91deg);
    width: 138px;
    height: 123px;
       border-bottom: 0.2pc solid rgb(7, 37, 79); 
 }
 
 .horizontal-line22 {
    position: absolute;
    top: 51.5%;
    left: 43.8%;
    transform: rotate(0deg);
    width: 10px;
    height: 123px;
       border-bottom: 0.2pc solid rgb(7, 37, 79); 
 }
 
 .horizontal-line23 {
    position: absolute;
    top: 51.5%;
    left: 45.9%;
    transform: rotate(0deg);
    width: 13px;
    height: 123px;
       border-bottom: 0.2pc solid rgb(7, 37, 79); 
 }
 
 .horizontal-line24 {
    position: absolute;
    top: 57.5%;
    left: 46.5%;
    transform: rotate(85deg);
    width: 44px;
    height: 123px;
       border-bottom: 0.2pc solid rgb(7, 37, 79); 
 }
 
 .horizontal-line25 {
    position: absolute;
    top: 57.3%;
    left: 49.5%;
    transform: rotate(87deg);
    width: 45px;
    height: 123px;
       border-bottom: 0.2pc solid rgb(7, 37, 79); 
 }
 
 .horizontal-line26 {
    position: absolute;
    top: 44.3%;
    left: 42.7%;
    transform: rotate(-8.1deg);
    width: 44px;
    height: 123px;
       border-bottom: 0.2pc solid rgb(7, 37, 79); 
 }
 
 .circle {
     top: 57.9%;
     left: 44.5%; 
        width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: red;
    border: 2px solid rgb(7, 37, 79);
  }
 
  .circle-1 {
    position: absolute;
    top: 67%;
    left: 44.4%;
    width: 17px;
    height: 20px;
    border-radius: 50% 50% 50% 50%;
    background-color: rgb(7, 37, 79);
    border-bottom: none;
    transform: rotate(-8deg);
  }
 
 .handle {
 
    position: absolute;
    width: 8px;
    height: 100px;
    background-color: rgb(7, 37, 79);
    position: absolute;
    top: 70.2%;
    left: 44.9%;
    transform: rotate(-2deg);
 }
  
 .circle-border {
    position: absolute;
    top: 51.6%;
    left: 42.5%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgb(119, 119, 119);
 }
  
 .circle-border-1 {
    position: absolute;
    top: 41%;
    left: 49.6%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid rgb(7, 37, 79);
  }
 
  .circle-border-2 {
    position: absolute;
    top: 44%;
    left: 36%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid rgb(7, 37, 79);
  }
 
  .circle-border-3 {
    position: absolute;
    top: 60%;
    left: 35%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid rgb(7, 37, 79);
  }
 
  .circle-border-4 {
    position: absolute;
    top: 77%;
    left: 52%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid rgb(7, 37, 79);
  }
 
 .square8 {
    position: absolute;
    top: 43.6%;
    left: 43%;
       width: 10px;
       height: 8px;
       border: 2px solid rgb(7, 37, 79);
    transform: rotate(73deg);
     
 }
 
 .square9 {
    position: absolute;
    top: 42.6%;
    left: 43%;
       width: 5px;
       height: 4px;
       border: 2px solid rgb(7, 37, 79);
    transform: rotate(-20deg);
 }
 
 /* .rectangle3 {
    position: absolute;
    top: 28%;
    left: 42.7%;
    transform: rotate(92deg);
       width: 30px;
       height: 220px;
       background-color:  rgb(156, 190, 237);
       opacity: 0.6;
       padding: 5px;
       border-radius: 25px;
 
     }
 
 .rectangle4{
    position: absolute;
    top: 28.8%;
    left: 43%;
    transform: rotate(91.8deg);
       width: 30px;
       height: 290px;
       background-color:  rgb(156, 190, 237);
       opacity: 0.6;
       padding: 3px;
       border-radius: 25px;
 }
 
 .rectangle5{
    position: absolute;
    top: 38.2%;
    left: 43%;
    transform: rotate(91.8deg);
       width: 30px;
       height: 250px;
       background-color:  rgb(156, 190, 237);
       opacity: 0.6;
       padding: 6px;
       border-radius: 25px;
 }
 
 .rectangle6{
    position: absolute;
    top: 36.8%;
    left: 43%;
    transform: rotate(91.8deg);
       width: 30px;
       height: 350px;
       background-color:  rgb(156, 190, 237);
       opacity: 0.6;
       padding: 8px;
       border-radius: 25px;
 }
 
 .rectangle7{
    position: absolute;
    top: 51%;
    left: 43%;
    transform: rotate(91.8deg);
       width: 30px;
       height: 270px;
       background-color:  rgb(156, 190, 237);
       opacity: 0.6;
       padding: 9px;
       border-radius: 25px;
 } */
 
 
 
 
 
  
 
  